USE [master]
GO
/****** Object:  Database [ChatReenbit]    Script Date: 25.08.2022 19:07:45 ******/
CREATE DATABASE [ChatReenbit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatReenbit', FILENAME = N'D:\programs\ms sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\ChatReenbit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatReenbit_log', FILENAME = N'D:\programs\ms sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\ChatReenbit.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatReenbit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatReenbit]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 25.08.2022 19:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsGroup] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 25.08.2022 19:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[IdSender] [int] NOT NULL,
	[ChatId] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[WithAnswer] [bit] NOT NULL,
	[AnswerText] [nvarchar](max) NULL,
	[Edited] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Chat_ChatId] FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Chat_ChatId]
GO
USE [master]
GO
